.cardData {
    /* /* border: 2px solid red; */
    display: flex;
    border-radius: 20px;
    background-color: rgb(192, 215, 218);
    width: 98%;
    margin: 1% 1%;
    font-weight: bold;
    height: 35px;
    padding: 0.5% 0%;
}

.toDiv {
        /* border: 2px solid red; */

    width: 40%;
    height: 30px;
    padding-left: 2%;
    margin-right: 5%;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    /* for content going out of div */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subjectDiv {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    cursor: pointer;
    /* for content going out of div */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.deleteDiv {
    /* border: 2px solid red; */
    color: red;
    cursor: pointer;
    width: 20%;
    height: 30px;
    margin-left: 1%;
}

.deleteDiv:hover{
    color: black;
}