.cardData{
    /* /* border: 2px solid red; */
 display: flex; 
 border-radius: 20px;
 background-color: rgb(192, 215, 218);
 width: 98%;
 margin: 1% 1%;
 font-weight: bold;
}

.toDiv{
    width: 40%;
    height: 30px;
    padding-left: 2%;
    cursor: pointer;
    display: flex;
    justify-content:flex-start;
}

.subjectDiv{
    display: flex;
    justify-content:flex-start;
    width: 50%;
    cursor: pointer;
    /* border: 2px solid red; */
}
.deleteDiv{
    /* border: 2px solid red; */
    color: red;
    cursor: pointer;
    width: 20%;
    height: 30px;
    margin-left: 1%;
}